
    <h1>
        {{currencyDetail?.id }}
    </h1>



<ul>
    <li>code : {{currencyDetail?.attributes?.code }}</li>
    <li>name : {{currencyDetail?.attributes?.name}}</li>
    <li>currency_type : {{currencyDetail?.attributes?.currency_type}}</li>
    <li>Symbol : {{currencyDetail?.attributes?.symbol}}</li>
    <li>code_iso_numeric3 : {{currencyDetail?.attributes?.code_iso_numeric3}}</li>
    <li>code_iso_alpha3 : {{currencyDetail?.attributes?.code_iso_alpha3}}</li>
    <li>native_symbol : {{currencyDetail?.attributes?.native_symbol}}</li>
    <li>decimal_e : {{currencyDetail?.attributes?.decimal_e}}</li>
    <li>category : {{currencyDetail?.attributes?.category}}</li>
</ul>



