<div style="text-align:center">
  <h1>
    Available currencies 
  </h1>
</div>

<select     
 (change)="onchangeNumberCurrenciesPerPage($event.target.value)">
    <option *ngFor="let c of numberCurrenciesPerPageList" >
      {{c}}
    </option>
  </select>



 <li *ngFor="let currency of currencyList">
    <a routerLink="currency/{{currency.id}}" routerLinkActive="active">
    ID : {{currency.id}}  Type: {{currency.attributes.currency_type}}   Symbol : {{currency.attributes.symbol}}
    </a>
</li>
