<div style="text-align:center">
  <h1>
    Available currencies 
  </h1>
</div>

<select     
 (change)="onchangeNumberCurrenciesPerPage($event.target.value)">
    <option *ngFor="let c of numberCurrenciesPerPageList" >
      {{c}}
    </option>
  </select>

  Page {{pageNumber}}

<br>
  <a routerLink="" routerLinkActive="active" (click)="managePagination(currencyPagination.first)"
    *ngIf ="currencyPagination?.first"> 
        first 
  </a> 
  <a routerLink="" routerLinkActive="active" (click)="managePagination(currencyPagination.prev)"
    *ngIf ="currencyPagination?.prev"> 
    prev 
  </a> 
  <a routerLink="" routerLinkActive="active" (click)="managePagination(currencyPagination.next)"
    *ngIf ="currencyPagination?.next"> 
    next 
  </a> 
  <a routerLink="" routerLinkActive="active" (click)="managePagination(currencyPagination.last)"
    *ngIf ="currencyPagination?.last"> 
    last 
  </a> 
  




 <li *ngFor="let currency of currencyList">
    <a routerLink="currency/{{currency.id}}" routerLinkActive="active">
    ID : {{currency.id}}  Type: {{currency.attributes.currency_type}}   Symbol : {{currency.attributes.symbol}}
    </a>
</li>
